.App {
  text-align: center;
  background-image:url('/src/assets/hosein-zanbori-wvbOWcIDuYg-unsplash.jpg');
  background-color: slategray;
  background-blend-mode: multiply;
  background-position: center;
  background-size: contain;
  height: auto;
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  opacity: 80%;
}

h1 {
  font-family: system-ui, sans-serif;
  font-size: 72px;
  font-size: 4.5rem;
  background-image: linear-gradient(
    #E736FF 30%,
    #741B80 100%
  );
  -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
