.playlist {
    display: inline-flex;
    background-color: #8D54BF;
    background-image: linear-gradient(
     #E736FF 30%,
     #741B80 100%
     );
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    min-height: 300px;
    width: 40%;
    align-items: center;
    flex-direction: column;
    opacity: 80%;
}

.playlist input {
    text-transform: uppercase;
    background: transparent;
    margin: 10px auto;
    border: 0;
    outline: 0;
    padding: 5px;
    text-align: center;
    font-family: system-ui, sans-serif;
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 20px;
    width: 70%;
}

button.playlistButton {
    text-transform: uppercase;
    margin: 10px auto;
    border-radius: 30px;
    border: #8a99a6 2px solid;
    padding: 12px;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 600;
    width: 200px;
    color: #f4f4f4;
    background-color: #425666;
}