.playlist {
    display: inline-flex;
    background-color: #8D54BF;
    background-image: linear-gradient(
     #E736FF 30%,
     #741B80 100%
     );
    margin: 0 auto;
    border-radius: 30px;
    padding: 10px;
    margin: 20px;
    width: 40%;
    align-items: center;
    flex-direction: column;
    opacity: 80%;
}

.playlist input {
    margin: 10px auto;
    padding: 5px;
    font-size: 16px;
    font-size: 1rem;
    border-radius: 10px;
    width: 70%;
}

.playlist button {
    margin: 10px auto;
    border-radius: 10px;
    padding: 5px;
    font-size: 14.4px;
    font-size: 0.9rem;
    width: 60%;
}